.box-modal-delete{
    width: 40%;
    height: 20%;
    display: flex;
    flex-direction: column;
    background-color: #fdfcdc;
    border-radius: 10px;
    text-align: center;
}
 .buton-modal-excluir1{
    margin-top:3%;
    margin-left: 5%;
    width: 30%;
    border-radius: 10px;
    font-family: "Rye", cursive;
    cursor: pointer;
    background-color: #00C4D4;

}
.buton-modal-excluir2{
    margin-top:3%;
    margin-left: 5%;
    width: 30%;
    border-radius: 10px;
    font-family: "Rye", cursive;
    cursor: pointer;
    background-color: #ef476f;

}